<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">
 <head>
	<title>Thymeleaf-Ajax List Article</title>
	<style>
		div#articleTable{
			margin-top: 10px;
		}
	</style>
 </head>
<body>
	<div class="ui container" layout:fragment="content">	
		<h1 class="ui title-center">Article Management System</h1>
		
		<div class="ui">
			<a class="ui primary basic button" href="/article/add" th:href="@{/article/add}">
				<i class="write icon"></i>
				<span>Add Article</span>
			</a>
			<select class="ui dropdown">
				  <option value="">All Categories</option>
				  <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}">Technology</option>
			</select>
			<div class="ui icon input">
				  <input type="text" id="filterByTitle" placeholder="Filter by title..."/>
				  <i class="filter icon"></i>
			</div>
		</div>
		
		<div class="ui" th:fragment="articleTable" id="articleTable">
			<table class="ui celled table" th:if="${#lists.size(articles) != 0}">
				<thead>
					<tr>
						<th th:text="#{index.table.id}">No</th>
						<th th:text="#{index.table.title}">Title</th>
						<th th:text="#{index.table.desc}">Description</th>
						<th th:text="#{index.table.category}">Category</th>
						<th th:text="#{index.table.action}">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="article : ${articles}" th:object="${article}">
						<td th:text="*{id}">Id</td>
						<td th:text="*{title}">Title</td>
						<td th:text="*{description}">Description</td>
						<td th:text="*{category.name}">Category</td>
						<td>
							<div class="ui small basic icon buttons">
								<a class="ui green basic button" th:href="@{article/view/{id}(id=*{id})}"><i class="unhide icon"></i></a>
								<a class="ui blue basic button" th:href="@{article/edit/{id}(id=*{id})}"><i class="write icon"></i></a>
								<a class="ui red basic button" th:id="'del' + *{id}" th:onclick="'removeArticle(' + *{id} + ');'"><i class="trash icon"></i></a>
							</div>
						</td>
					</tr>	
				</tbody>	
				<tfoot >
					 <tr>
					 	<th colspan="5">
					      <div class="ui small right floated pagination menu">
					        <a class="icon item" title="First" onclick='onPaging(1)'><i class="left long arrow icon"></i></a>
					        <a class="item" th:onclick="'onPaging(' + ${paging.previousPage} + ');'">Previous</a>
					        
					        <a class="item" th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}" th:text="${i}" th:classappend="${paging.page}==${i}?'active'" th:onclick="'onPaging(' + ${i} + ');'">1</a>
					        
					        <a class="item" th:onclick="'onPaging(' + ${paging.nextPage} + ');'">Next</a>
					        <a class="icon item" title="Last" th:onclick="'onPaging(' + ${paging.totalPages} + ');'"><i class="right long arrow icon"></i></a>
					      </div>				      
					    </th>
					  </tr>
				</tfoot>
			</table>
			<div class="ui info message" th:unless="${#lists.size(articles) != 0}">
				  <div class="header">No Article</div>
				  <p>There is no article to show.</p>
			</div>
		</div>
	</div>
	<th:block layout:fragment="script">
			
			<script>
				//set menu active
				$('#thymeleaf-ajax').addClass('active');
			</script>
	
  	  		<script th:inline="javascript">
				
  	  			//TODO: Retrieve data from model
				/*<![CDATA[*/
  	  	    	var filter = /*[[${filter}]]*/ {};
  	  	   		/*]]>*/
  	  	   		 
	  	  	    //TODO:
 	 			filter = {
	  	  	    	page: 1,
	  	  	    	limit: 10,
	  	  	    	title: filter.title == null ? '' : filter.title,
	  	  	    	categoryId: filter.categoryId == null ? '' : filter.categoryId
	  	  	    };
 	  			
 	 			console.log(filter);
 	 			
  	  			//TODO: Onfilter Enter Event
  	  			$('#filterByTitle').keyup(function(e){
  	  				if(e.keyCode == 13){
  	  					filter.page = 1;
	  	  				filter.title = $('#filterByTitle').val();
	  	  				loadArticles(filter);
  	  				}
  	  			});

  	  			//TODO: load article by filter
  	  			var loadArticles = function(filter){
	  	  			$.ajax({
  						url: '/thymeleaf-ajax/articles',
  						method: 'GET',
  						data: filter,
 	  						success: function(response){
  							$('#articleTable').html(response);
							
  							//change url
			  	  			history.pushState(null, '', serializeJSObject(filter)); 
  						},
  						error: function(error){
  							console.log(error);
  						}
	  				});
	  	  		}		
					
  	  			//remove article
  	  			function removeArticle(id){
  	  				$.ajax({
  	  					url: '/thymeleaf-ajax/articles/' + id,
  	  					method: 'DELETE',
  	  					success: function(status){
  	  						console.log(status);
  	  						if(status){
  	  							$('#del' + id).parents('tr').remove();  	  							
  	  						}
  	  					},
  	  					error: function(error){
  	  						console.log(error);
  	  					}
  	  				});
  	  			}
  	  		
	  	  		//on page click
  	  			function onPaging(page){
  	  				filter.page = page;
  	  				loadArticles(filter);
  	  			}
				
	  	  		//TODO: intialize block
	  	  		
	  	  		//TODO: set value to search box
	  	  		$('#filterByTitle').val(filter.title);
  	  			
	  	  		//TODO: Semantic Initialized, Set selected category
 	 			$('.ui.dropdown')
 	 				.dropdown('set selected', filter.categoryId)
  	  				.dropdown({
	  	  				onChange: function(value, text){
	  	  					filter.page = 1;
	  	  					filter.categoryId = value;
	  	  					loadArticles(filter);
	  	  				}
  	  			});
	  	  		
	  	  		
	  	  		//TODO: ADDITIONAL
	  	  		
	  	  		//when user navigate in browser history
	  	  		$(window).bind('popstate', function(){
	  	  			location.href = location.href;
	  	  		});
  	  			
	  	  		//TODO: 
	  	  		function serializeJSObject(jsObject){
			  	  	return location.pathname + '?' + jQuery.param( jsObject );
	  	  		}
	  	  		
  	  		</script>
  	 </th:block>
</body>

</html>