<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<title th:text="${addStatus==true?'Add Article':'Update Article'}">Add Article</title>
</head>
<body>
	<h1 th:text="${addStatus==true?'Add Article':'Update Article'}">Add article</h1>
	<form action="" th:action="${addStatus==true?'/article/save':'/article/update'}" th:object="${article}" method="POST" enctype="multipart/form-data">
		Id: <input type="text" th:field="*{id}"/>
		Title: <input type="text" th:field="*{title}"/>
		Description: <input type="text" th:field="*{description}"/>
		Thumbnail: <input type="file" name="file"/>
		<input type="submit" value="SAVE"/>
	</form>
</body>
</html>