<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/default">
	  <head>
	  	<title>Article Management System</title>
	  	<link rel="stylesheet" th:href="@{/css/article.css}"/>
	  </head>
<body>
	<div class="ui container" layout:fragment="content">	
		<h1>Article Management System</h1>
		<a class="ui primary basic button" href="/article/add" th:href="@{/article/add}">
			<i class="write icon"></i>
			<span>Add Article</span>
		</a>
		<table class="ui celled table">
			<thead>
				<tr>
					<th th:text="#{index.table.id}">No</th>
					<th th:text="#{index.table.title}">Title</th>
					<th th:text="#{index.table.desc}">Description</th>
					<th th:text="#{index.table.action}">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:fragment="articleFragment" th:each="article : ${articles}" th:object="${article}">
					<td th:text="${articleStat.count}">Id</td>
					<td th:text="*{title}">Title</td>
					<td th:text="*{description}">Description</td>
					<td>
						<div class="ui small basic icon buttons">
							<a class="ui green basic button" th:href="@{article/{id}(id=*{id})}"><i class="unhide icon"></i></a>
							<a class="ui blue basic button" th:href="@{article/edit/{id}(id=*{id})}"><i class="write icon"></i></a>
							<a class="ui red basic button" th:href="@{article/remove/{id}(id=*{id})}"><i class="trash icon"></i></a>
						</div>
					</td>
				</tr>	
			</tbody>	
			<tfoot>
				 <tr>
				 	<th colspan="4">
				      <div class="ui small right floated pagination menu">
				        <a class="icon item" title="First" th:href="@{/article(page=1)}"><i class="left long arrow icon"></i></a>
				        <a class="item" th:href="@{/article(page=${page-1})}">Previous</a>
				        <a class="item" th:each="i: ${#numbers.sequence(startPage, endPage)}" th:text="${i}" th:href="@{/article(page=${i})}">1</a>
				        <a class="item" th:href="@{/article(page=${page+1})}">Next</a>
				        <a class="icon item" title="Last" th:href="@{/article(page=${totalPage})}"><i class="right long arrow icon"></i></a>
				      </div>				      
				    </th>
				  </tr>
			</tfoot>
		</table>
	</div>
</body>
</html>